$pink: rgba(169, 81, 139, 1);

.hoverClass {
  background: inherit;
  transition: 1s ease;
}

.hoverClass:hover {
  cursor: pointer;
  opacity: 0.70;
  transition: .5s ease;
}


.hoverClassForButtons {
  background: inherit;
}

.hoverClassForButtons:hover {
  cursor: pointer;
  opacity: 0.50;
}