@import './variables.scss';

.post-container {
  margin: 5em auto;
  width: 60vw;

  img {
    width: 100%;
  }
  @include respond-to('medium') {
    margin: 4em 1em;
    font-size: 2em;
    width: auto;
  }
  @include respond-to('small') {
    margin: 4em 1em;
    font-size: 1.2em;
    width: auto;
  }
}