@import './variables.scss';

.post-container {
  margin: 5em auto;
  width: 60vw;
  
  &__content {
    margin: 0 0 2em 0;
  }

  .e-rte-image.e-imginline {
    max-width: 100% !important;
    width: 100% !important;
  }
  @include respond-to('medium') {
    margin: 4em 1em;
    font-size: 2em;
    width: auto;
  }
  @include respond-to('small') {
    margin: 4em 1em;
    font-size: 1.2em;
    width: auto;
  }
}